@page "/admin/books"
@page "/admin"

@inherits OwningComponentBase<IBooksRepository>

<table class="table table-sm table-bordered">
    <thead class="bg-dark text-white">
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody class="table-hover">
        @if (BookData?.Count() > 0)
            {
                @foreach (Book b in BookData)
                {
                    <tr>
                        <td>@b.BookId</td>
                        <td>@b.Title</td>
                        <td>@b.Author</td>
                        <td>@b.Price</td>

                        <td>
                            <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">More Info</NavLink>
                        </td>

                        <td>
                            <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit Book</NavLink>
                        </td>

                        <td>
                            <NavLink class="btn btn-outline-danger btn-sm" @onclick="@(x => RemoveBook(b))">Delete Book</NavLink>
                        </td>
                    </tr>
                }
        }
        else
            {
                <tr>
                    <td colspan="5" class="text-center">No Books</td>
                </tr>
            }
    </tbody>

</table>

<NavLink class="btn btn-primary" href="/admin/books/create">Create a New Book</NavLink>

@code {
    public IBooksRepository repo => Service;

    public IEnumerable<Book> BookData { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/editing/{id}";

    public async Task RemoveBook (Book b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }
}
