<table class="table table-sm table-bordered">
    <thead class="bg-dark">
        <tr>
            <th colspan="5" class="text-center text-white">@TableTitle</th>
        </tr>
    </thead>

    <tbody class="table-hover">
        @if (Purchases?.Count() > 0)
            {
                @foreach (Purchase p in Purchases)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.ZipCode</td>
                        <th>Book</th>
                        <th>Quantity</th>

                        <td>
                            <button class="btn btn-sm btn-outline-danger" 
                                    @onclick="@(x=> PurchaseSelected.InvokeAsync(p.PurchaseId))">@ButtonName</button>
                        </td>
                    </tr>

                    @foreach (CartItem ci in p.Lines)
                    {
                        <tr>
                            <td colspan="2"></td>
                            <td>@ci.Book.Title</td>
                            <td>@ci.Quantity</td>
                        </tr>
                    }
                }
        }
        else
            {
                <tr>
                    <td colspan="5" class="text-center">No Purchases</td>
                </tr>
            }
    </tbody>
</table>

@code{
    [Parameter]
    public string TableTitle { get; set; } = "Purchases";

    [Parameter]
    public IEnumerable<Purchase> Purchases { get; set; }

    [Parameter]
    public string ButtonName { get; set; } = "Processed";

    [Parameter]
    public EventCallback<int> PurchaseSelected { get; set; }
}