@{
    ViewData["Title"] = "McCord Books";
}

@model BookViewModel

<h1>I need you to buy my books</h1>

@foreach (Book b in Model.Books)
            {
                <h3>@b.Title</h3>
                <ul>
                    <li>Author: @b.Author</li>
                    <li>ISBN: @b.Isbn</li>
                    <li>Publisher: @b.Publisher</li>
                    <li>Classification: @b.Classification</li>
                    <li>Category: @b.Category</li>
                    <li>Page Count: @b.PageCount</li>
                    <li>Price: @b.Price</li>
                </ul>
                <br />
            }

<div page-changer="@Model.PageChanging" page-actor="Index"></div>


